language: python3
os: osx
branches:
  only:
  - master
before_install:
- pip3 install --upgrade pip
install:
- pip3 install libsass
- pip3 install fontTools
- pip3 install markdown
- pip3 install pylint
- pip3 install pyobjc
- pip3 install svgwrite
- pip3 install SimpleIDML
- pip3 install booleanOperations
- pip3 install tornado
- python3 setup.py install # PageBot itself.
- wget https://github.com/typesupply/vanilla/archive/master.zip
- unzip master.zip
- cd vanilla-master
- python3 setup.py install
- cd ..
- rm master.zip
- rm -r vanilla-master
- wget https://github.com/typesupply/defconAppKit/archive/master.zip
- unzip master.zip
- cd defconAppKit-master
- python3 setup.py install
- cd ..
- rm master.zip
- rm -r defconAppKit-master
- wget https://github.com/typemytype/drawbot/archive/master.zip
- unzip master.zip
- cd drawbot-master
- python3 setup.py install
- cd ..
- rm master.zip
- rm -r drawbot-master
- wget https://github.com/PageBot/flat/archive/master.zip
- unzip master.zip
- cd flat-master
- python3 setup.py install
- cd ..
- rm master.zip
- rm -r flat-master
- wget https://github.com/typesupply/compositor/archive/master.zip
- unzip master.zip
- cd compositor-master
- python3 setup.py install
- cd ..
- rm master.zip
- rm -r compositor-master
script:
- mkdir _export
- export WONT_FIX=invalid-name,bad-indentation,trailing-newlines,wrong-import-position,fixme,c-extension-no-member
- export CATCHALL_MAY_FIX_LATER=line-too-long,trailing-whitespace,duplicate-code,bad-whitespace,no-name-in-module,import-error,multiple-imports,bad-continuation,no-value-for-parameter,too-many-arguments,too-many-locals,unused-argument,pointless-string-statement,using-constant-test,invalid-encoded-data,too-many-instance-attributes,too-few-public-methods,attribute-defined-outside-init,protected-access,wrong-import-order,missing-final-newline,mixed-indentation,unused-variable,no-member,too-many-function-args,unexpected-keyword-arg,bare-except,no-self-use,no-method-argument,function-redefined,too-many-public-methods,anomalous-backslash-in-string,redefined-builtin,too-many-branches,relative-import,arguments-differ,syntax-error,reimported,used-before-assignment,too-many-boolean-expressions,too-many-statements,no-self-argument,unnecessary-pass,keyword-arg-before-vararg,not-a-mapping,multiple-statements,inconsistent-return-statements,pointless-statement,ungrouped-imports,unnecessary-semicolon,no-else-return,old-style-class,too-many-nested-blocks,unsubscriptable-object,too-many-lines,unidiomatic-typecheck,bare-except,simplifiable-if-statement,too-many-return-statements,blacklisted-name,exec-used,not-callable,eval-used,empty-docstring,super-init-not-called,singleton-comparison,unreachable,expression-not-assigned,consider-using-enumerate,unbalanced-tuple-unpacking,global-statement,duplicate-key,anomalous-unicode-escape-in-string,no-init,redefined-argument-from-local,broad-except,missing-docstring,superfluous-parens,wildcard-import,unused-wildcard-import,redefined-outer-name,consider-iterating-dictionary,invalid-unary-operand-type
- export PYLINT="pylint --disable=$WONT_FIX,$CATCHALL_MAY_FIX_LATER"
- python3 Examples/00_Installing/01_Dependencies.py
- python3 Examples/00_Installing/02_Sass.py
- python3 Examples/01_Basics/01_Paths.py
- python3 Examples/01_Basics/02_Context.py
- python3 Examples/01_Basics/03_Fonts.py
- python3 Examples/01_Basics/04_Units.py
- python3 Examples/01_Basics/05_Documents.py
- python3 Examples/01_Basics/06_ClipPath.py
- python3 Examples/02a_Text/AdvancedHyphenation.py
- python3 Examples/02a_Text/ElasticTextBox.py
- python3 Examples/02a_Text/HangulKanjiFormattedStrings.py
- python3 Examples/02a_Text/FormattedStringMetrics.py
- python3 Examples/02a_Text/TextBoxLinesRuns.py
- python3 Examples/02a_Text/TextFlows.py
- python3 Examples/02a_Text/TextLineTextRun.py
  python3 Examples/02a_Text/BabelStrings.py
  python3 Examples/02a_Text/FittingTextWidthWithVar.py
  python3 Examples/02b_Fonts/AlterGlyphCoordinates.py
  python3 Examples/02b_Fonts/DrawQuadraticGlyph.py
  python3 Examples/02b_Fonts/UseProofing.py
  python3 Examples/03_Elements/AlignFloatElements.py
  python3 Examples/03_Elements/DrawRedRectCenterPage.py
  python3 Examples/03_Elements/ShowElements.py
  python3 Examples/03_Elements/UseBorders.py
  python3 Examples/03_Elements/UseContainerElements.py
  python3 Examples/03_Elements/UseElementProperties.py
  python3 Examples/03_Elements/UseShadow.py
- python3 Examples/18_Testing/Contexts.py
- python3 Examples/18_Testing/Flat.py
- python3 Examples/18_Testing/IDML.py
- $PYLINT Lib/pagebot/
- python3 Lib/pagebot/__init__.py
- python3 Lib/pagebot/conditions/align.py
- python3 Lib/pagebot/constants.py
- python3 Lib/pagebot/conditions/align.py
- python3 Lib/pagebot/conditions/condition.py
- python3 Lib/pagebot/conditions/columns.py
- python3 Lib/pagebot/conditions/floating.py
- python3 Lib/pagebot/conditions/flow.py
- python3 Lib/pagebot/conditions/score.py
- python3 Lib/pagebot/conditions/text.py
- python3 Lib/pagebot/contexts/__init__.py
- python3 Lib/pagebot/contexts/basecontext.py
- python3 Lib/pagebot/contexts/drawbotcontext.py
- python3 Lib/pagebot/contexts/flatcontext.py
- python3 Lib/pagebot/contexts/flat/conversion.py
- python3 Lib/pagebot/contexts/htmlcontext.py
- python3 Lib/pagebot/contexts/indesigncontext.py
- python3 Lib/pagebot/contexts/svgcontext.py
- python3 Lib/pagebot/contexts/builders/basebuilder.py
- python3 Lib/pagebot/contexts/builders/nonebuilder.py
- python3 Lib/pagebot/contexts/builders/htmlbuilder.py
- python3 Lib/pagebot/contexts/builders/svgbuilder.py
- python3 Lib/pagebot/contexts/builders/idmlbuilder.py
- python3 Lib/pagebot/contexts/builders/sitebuilder.py
- python3 Lib/pagebot/contexts/builders/solidbuilder.py
- python3 Lib/pagebot/contexts/builders/flatbuilder.py
- python3 Lib/pagebot/contexts/builders/xmlbuilder.py
- python3 Lib/pagebot/contexts/strings/babelstring.py
- python3 Lib/pagebot/contexts/strings/drawbotstring.py
- python3 Lib/pagebot/contexts/strings/nonedrawbotstring.py
- python3 Lib/pagebot/contexts/strings/flatstring.py
- python3 Lib/pagebot/contexts/strings/htmlstring.py
- python3 Lib/pagebot/contexts/strings/idmlstring.py
- python3 Lib/pagebot/contexts/strings/indesignstring.py
- python3 Lib/pagebot/contexts/strings/textline.py
- python3 Lib/pagebot/contexts/strings/textrun.py
- python3 Lib/pagebot/contributions/filibuster/blurbwriter.py
- python3 Lib/pagebot/document.py
- python3 Lib/pagebot/elements/element.py
- python3 Lib/pagebot/elements/paths/glyphpath.py
- python3 Lib/pagebot/elements/pbcodeblock.py
- python3 Lib/pagebot/elements/pbgalley.py
- python3 Lib/pagebot/elements/pbgroup.py
- python3 Lib/pagebot/elements/pbimage.py
- python3 Lib/pagebot/elements/pbline.py
- python3 Lib/pagebot/elements/pboval.py
- python3 Lib/pagebot/elements/pbpage.py
- python3 Lib/pagebot/elements/pbplacer.py
- python3 Lib/pagebot/elements/pbpolygon.py
- python3 Lib/pagebot/elements/pbquire.py
- python3 Lib/pagebot/elements/pbrect.py
- python3 Lib/pagebot/elements/pbruler.py
- python3 Lib/pagebot/elements/pbtable.py
- python3 Lib/pagebot/elements/pbtext.py
- python3 Lib/pagebot/elements/pbtextbox.py
- python3 Lib/pagebot/elements/variablefonts/variablecircle.py
- python3 Lib/pagebot/elements/variablefonts/variablecube.py
- python3 Lib/pagebot/elements/variablefonts/variablecube2.py
- python3 Lib/pagebot/elements/variablefonts/variableeditor.py
- python3 Lib/pagebot/elements/variablefonts/variableglyphs.py
- python3 Lib/pagebot/elements/variablefonts/variablescatter.py
- python3 Lib/pagebot/elements/views/__init__.py
- python3 Lib/pagebot/elements/views/baseview.py
- python3 Lib/pagebot/elements/views/gitview.py
- python3 Lib/pagebot/elements/views/googleappsview.py
- python3 Lib/pagebot/elements/views/googlecloudview.py
- python3 Lib/pagebot/elements/views/htmlview.py
- python3 Lib/pagebot/elements/views/mampview.py
- python3 Lib/pagebot/elements/views/pageview.py
- python3 Lib/pagebot/elements/views/pagemapview.py
- python3 Lib/pagebot/elements/views/siteview.py
- python3 Lib/pagebot/fonttoolbox/objects/family.py
- python3 Lib/pagebot/fonttoolbox/objects/font.py
- python3 Lib/pagebot/fonttoolbox/objects/fontinfo.py
- python3 Lib/pagebot/fonttoolbox/objects/glyph.py
- python3 Lib/pagebot/fonttoolbox/objects/prevarfamily.py
- python3 Lib/pagebot/fonttoolbox/otlTools.py
- python3 Lib/pagebot/fonttoolbox/ttftools.py
- python3 Lib/pagebot/fonttoolbox/unicodes/unicoderanges.py
- python3 Lib/pagebot/publications/typespecimen.py
- python3 Lib/pagebot/publications/website.py
- python3 Lib/pagebot/style.py
- python3 Lib/pagebot/stylelib.py
- python3 Lib/pagebot/toolbox/color.py
- python3 Lib/pagebot/toolbox/columncalc.py
- python3 Lib/pagebot/toolbox/dating.py
- python3 Lib/pagebot/toolbox/future.py
- python3 Lib/pagebot/toolbox/hyphenation.py
- python3 Lib/pagebot/toolbox/markers.py
- python3 Lib/pagebot/toolbox/mathematics.py
- python3 Lib/pagebot/toolbox/timemark.py
- python3 Lib/pagebot/toolbox/transform3d.py
- python3 Lib/pagebot/toolbox/units.py
- python3 Lib/pagebot/typesetter.py
