---
#language: python3
matrix:
  allow_failures:
    - os: linux
  include:
    - os: linux
      language: python
      dist: trusty
      python: 3.6
      before_install:
        - ruby --version
        - python --version
      install:
        - ./scripts/linux.sh
      script:
        - mkdir _export
        - ./scripts/pylint.sh
        - ./scripts/doctests-linux.sh
        - ./scripts/doctests.sh
    - os: osx
      rvm:
        - use 2.6.0
      before_install:
        - ruby --version
        - python --version
      install:
        - ./scripts/osx.sh
      language: python3
      python: 3.7
      script:
        - mkdir _export
        - ./scripts/pylint.sh
        - ./scripts/doctests-osx.sh
        - ./scripts/doctests.sh
branches:
  only:
    - master
