---
#language: python3
matrix:
  include:
    - os: linux
      language: python
      dist: trusty
      python: 3.8
      before_install:
        - python --version
        - pip install --upgrade pip
      install:
        - ./scripts/linux.sh
      script:
        - mkdir _export
        - ./scripts/pylint.sh
        - ./scripts/doctests-linux.sh
        - ./scripts/doctests.sh
    - os: osx
      language: sh
      env:
          - HOMEBREW_NO_ANALYTICS=1
          - HOMEBREW_NO_INSTALL_CLEANUP=1
      addons:
          homebrew:
              update: true
              packages: python3
      before_install:
        - brew link --overwrite python
        - python --version
        - python3.8 --version
        - python3.9 --version
        - pip3.8 install --upgrade pip
      install:
        - ./scripts/osx.sh
      script:
        - mkdir _export
        - ./scripts/pylint.sh
        - ./scripts/doctests-osx.sh
        - ./scripts/doctests.sh
branches:
  only:
    - master
