$Banner-background-color: #00FF00;
$Banner-color: #000000;
$Banner-font-family: "Roboto";
$Banner-font-size: 12pt;
$Banner-letter-spacing: 0pt;
$ColoredSection-background-color: #2A8BB8;
$ColoredSection-color: #E6E6E6;
$ColoredSection-font-family: "Roboto";
$ColoredSection-font-size: 12pt;
$ColoredSection-letter-spacing: 0pt;
$ColoredSection0-background-color: #2A8BB8;
$ColoredSection0-color: #E6E6E6;
$ColoredSection0-font-family: "Roboto";
$ColoredSection0-font-size: 12pt;
$ColoredSection0-letter-spacing: 0pt;
$ColoredSection1-background-color: #2A8BB8;
$ColoredSection1-color: #E6E6E6;
$ColoredSection1-font-family: "Roboto";
$ColoredSection1-font-size: 12pt;
$ColoredSection1-letter-spacing: 0pt;
$ColoredSection2-background-color: #2A8BB8;
$ColoredSection2-color: #E6E6E6;
$ColoredSection2-font-family: "Roboto";
$ColoredSection2-font-size: 12pt;
$ColoredSection2-letter-spacing: 0pt;
$ColoredSectionHeader-background-color: #2A8BB8;
$ColoredSectionHeader-color: #E6E6E6;
$ColoredSectionHeader-font-family: "Roboto";
$ColoredSectionHeader-font-size: 12pt;
$ColoredSectionHeader-letter-spacing: 0pt;
$Content-background-color: #FFFFFF;
$Content-color: #000000;
$Content-font-family: "Roboto";
$Content-font-size: 12pt;
$Content-letter-spacing: 0pt;
$Content2-background-color: #FFFFFF;
$Content2-color: #000000;
$Content2-font-family: "Roboto";
$Content2-font-size: 12pt;
$Content2-letter-spacing: 0pt;
$Footer-background-color: #CCCCCC;
$Footer-color: #000000;
$Footer-font-family: "Roboto";
$Footer-font-size: 12pt;
$Footer-letter-spacing: 0pt;
$Header-background-color: #E6E6E6;
$Header-color: #000000;
$Header-font-family: "Roboto";
$Header-font-size: 12pt;
$Header-letter-spacing: 0pt;
$Hero-background-color: #F2F2F2;
$Hero-color: #000000;
$Hero-font-family: "Roboto";
$Hero-font-size: 1.1em;
$Hero-letter-spacing: 0pt;
$HeroIntroduction-background-color: #F2F2F2;
$HeroIntroduction-color: #000000;
$HeroIntroduction-font-family: "Roboto";
$HeroIntroduction-font-size: 1.1em;
$HeroIntroduction-letter-spacing: 0pt;
$HeroSlides-background-color: #F2F2F2;
$HeroSlides-color: #000000;
$HeroSlides-font-family: "Roboto";
$HeroSlides-font-size: 1.1em;
$HeroSlides-letter-spacing: 0pt;
$Logo-background-color: #FFFF00;
$Logo-color: #2A8BB8;
$Logo-font-family: "Roboto";
$Logo-font-size: 12pt;
$Logo-letter-spacing: 0pt;
$Menu-background-color: #000000;
$Menu-color: #000000;
$Menu-font-family: "Roboto";
$Menu-font-size: 12pt;
$Menu-letter-spacing: 0pt;
$MenuItem-background-color: #000000;
$MenuItem-color: #000000;
$MenuItem-font-family: "Roboto";
$MenuItem-font-size: 12pt;
$MenuItem-letter-spacing: 0pt;
$Navigation-background-color: #000000;
$Navigation-color: #000000;
$Navigation-font-family: "Roboto";
$Navigation-font-size: 12pt;
$Navigation-letter-spacing: 0pt;
$Page-page-background-color: #FFFFFF;
$Page-page-color: #000000;
$Page-page-font-family: "Roboto";
$Page-page-font-size: 12pt;
$Page-page-letter-spacing: 0pt;
$Page-page-padding-bottom: 36pt;
$Page-page-padding-left: 0pt;
$Page-page-padding-right: 36pt;
$Page-page-padding-top: 42pt;
$TextBox-background-color: #F2F2F2;
$TextBox-color: #000000;
$TextBox-font-family: "Roboto";
$TextBox-font-size: 1.1em;
$TextBox-letter-spacing: 0pt;
$TopMenu-background-color: #000000;
$TopMenu-color: #000000;
$TopMenu-font-family: "Roboto";
$TopMenu-font-size: 12pt;
$TopMenu-letter-spacing: 0pt;
$logo-background-color: #FFFF00;
$logo-color: #2A8BB8;
$logo-font-family: "Roboto";
$logo-font-size: 3em;
$logo-letter-spacing: 0pt;
