

@font-face {
  font-family: "Upgrade-Italic";
  src: url("Upgrade-Italic.eot") format("eot"),
  url("Upgrade-Italic.woff2") format("woff2"),
  url("Upgrade-Italic.woff") format("woff");
}
@font-face {
  font-family: "Upgrade-Regular";
  src: url("Upgrade-Regular.eot") format("eot"),
  url("Upgrade-Regular.woff2") format("woff2"),
  url("Upgrade-Regular.woff") format("woff");
}
@font-face {
  font-family: "Upgrade-SemiboldItalic";
  src: url("Upgrade-Semibold_Italic.eot") format("eot"),
  url("Upgrade-Semibold_Italic.woff2") format("woff2"),
  url("Upgrade-Semibold_Italic.woff") format("woff");
}
@font-face {
  font-family: "Upgrade-Semibold";
src: url("Upgrade-Semibold.eot") format("eot"),
  url("Upgrade-Semibold.woff2") format("woff2"),
  url("Upgrade-Semibold.woff") format("woff");
}
@font-face {
  font-family: "Upgrade-BoldItalic";
  src: url("Upgrade-Bold_Italic.eot") format("eot"),
  url("Upgrade-Bold_Italic.woff2") format("woff2"),
  url("Upgrade-Bold_Italic.woff") format("woff"),
}
@font-face {
  font-family: "Upgrade-Bold";
  src: url("Upgrade-Bold.eot") format("eot"),
  url("Upgrade-Bold.woff2") format("woff2"),
  url("Upgrade-Bold.woff") format("woff");
}
 
