$Banner-background-color: #00FF00;
$Banner-color: #000000;
$Banner-font-family: "Roboto";
$Banner-font-size: 12pt;
$Banner-letter-spacing: 0pt;
$ColoredSection-paddingcolor-background-color: #FFFFFF;
$ColoredSection-paddingcolor-color: #000000;
$ColoredSection-paddingcolor-font-family: "Roboto";
$ColoredSection-paddingcolor-font-size: 12pt;
$ColoredSection-paddingcolor-letter-spacing: 0pt;
$ColoredSection0-background-color: #FFFFFF;
$ColoredSection0-color: #000000;
$ColoredSection0-font-family: "Roboto";
$ColoredSection0-font-size: 12pt;
$ColoredSection0-letter-spacing: 0pt;
$ColoredSection1-background-color: #FFFFFF;
$ColoredSection1-color: #000000;
$ColoredSection1-font-family: "Roboto";
$ColoredSection1-font-size: 12pt;
$ColoredSection1-letter-spacing: 0pt;
$ColoredSection2-background-color: #FFFFFF;
$ColoredSection2-color: #000000;
$ColoredSection2-font-family: "Roboto";
$ColoredSection2-font-size: 12pt;
$ColoredSection2-letter-spacing: 0pt;
$ColoredSectionHeader-background-color: #FFFFFF;
$ColoredSectionHeader-color: #000000;
$ColoredSectionHeader-font-family: "Roboto";
$ColoredSectionHeader-font-size: 12pt;
$ColoredSectionHeader-letter-spacing: 0pt;
$Content-background-color: #FFFFFF;
$Content-color: #000000;
$Content-font-family: "Roboto";
$Content-font-size: 12pt;
$Content-letter-spacing: 0pt;
$Content2-background-color: #FFFFFF;
$Content2-color: #000000;
$Content2-font-family: "Roboto";
$Content2-font-size: 12pt;
$Content2-letter-spacing: 0pt;
$Footer-background-color: #FFFFFF;
$Footer-color: #000000;
$Footer-font-family: "Roboto";
$Footer-font-size: 12pt;
$Footer-letter-spacing: 0pt;
$Header-background-color: #FFFFFF;
$Header-color: #000000;
$Header-font-family: "Roboto";
$Header-font-size: 12pt;
$Header-letter-spacing: 0pt;
$Logo-background-color: #FFFF00;
$Logo-color: #2A8BB8;
$Logo-font-family: "Roboto";
$Logo-font-size: 12pt;
$Logo-letter-spacing: 0pt;
$Page-page-background-color: #FFFFFF;
$Page-page-color: #000000;
$Page-page-font-family: "Roboto";
$Page-page-font-size: 12pt;
$Page-page-letter-spacing: 0pt;
$Page-page-padding-bottom: 36pt;
$Page-page-padding-left: 0pt;
$Page-page-padding-right: 36pt;
$Page-page-padding-top: 42pt;
$logo-background-color: #FFFF00;
$logo-color: #2A8BB8;
$logo-font-family: "Roboto";
$logo-font-size: 3em;
$logo-letter-spacing: 0pt;
