$D3Bezier-color: #000000;
$D3Bezier-font-family: "Roboto";
$D3Bezier-font-size: 12pt;
$D3Bezier-letter-spacing: 0pt;
$Page-page-color: #000000;
$Page-page-font-family: "Roboto";
$Page-page-font-size: 12pt;
$Page-page-letter-spacing: 0pt;
$Page-page-padding-bottom: 36pt;
$Page-page-padding-left: 0pt;
$Page-page-padding-right: 36pt;
$Page-page-padding-top: 42pt;
